body {
  font-family: sans-serif
}

header {
  width: 100%
}

.tittle1 {
  font-size: xxx-large;
  color: black;
  text-align: center;
  margin-top: 4%;
  font-family: sans-serif;
}

.tittle2 {
  font-size: xx-large;
  color: rgb(27, 194, 52);
  text-align: center;
  margin-left: 11%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.tittle3 {
  font-size: xx-large;
  color: rgb(194, 27, 94);
  text-align: center;
  margin-left: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.subtittle {
  font-family: sans-serif;
  font-size: large;
  font-weight: 600;
  color: white;
}

.text {
  font-family: sans-serif;
  font-size: medium;
  color: white;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 5%;
}

.text2 {
  font-family: sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 5%;
}

.divvet {
  background-color: black;
  width: 100%;
  color: white;
  font-size: x-large;
  text-align: center;
  margin-top: 6%;
  padding: 0.1cm;
  margin-bottom: 7%;
}

.image {
  border-radius: 50%;
  margin-bottom: 5%;
}

.btn-group button {
  background-color: #000000;
  border: 1px solid rgb(0, 0, 0);
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}